@model IEnumerable<ProductCategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Categories</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success p-1">
        <p>@TempData["SuccessMessage"]</p>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<h2>Parent Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.ParentId == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Child Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.ParentId != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>
                    <td>
                        @if (item.ParentId != null)
                        {
                            foreach (var category in Model)
                            {
                                if (item.ParentId == category.Id) item.ParentName = category.Name;
                            }
                        }
                        @Html.DisplayFor(modelItem => item.ParentName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>




