@model IEnumerable<ProductCategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Categories</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success p-1">
        <p>@TempData["SuccessMessage"]</p>
    </div>
}

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Admin/js/ProductCategoryRemove.js"></script>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<h2>Parent Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.ParentId == null)
            {
                <tr id="category-@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Child Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>ParentName</th>
            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.ParentId != null)
            {
                <tr id="category-@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>
                    <td>

                        @{
                            var ParentName = string.Empty;
                            foreach (var category in Model)
                            {
                                if (item.ParentId == category.Id) ParentName = category.Name;
                            }
                        }
                        @Html.Raw(ParentName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-sm btn-danger" onclick="RemoveCategory(@item.Id)">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>




